<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-86c63e9b-18f0-4aae-97a8-39998ba1832f;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-86c63e9b-18f0-4aae-97a8-39998ba1832f.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  <add name="EatIn"
       connectionString="Data Source=.;Initial Catalog=eRestaurant;Intergrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
</connectionStrings>